body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.25em;
    background-color: #222;
    color: white;
}

.task_bold {
    font-weight: 700;
}

button {
    background-color: #111;
    color: white;
    border: 2px solid #111;
    font-size: 0.75em;
    padding: 8px 16px;
    font-weight: 700;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    border: 2px solid rgb(160, 160, 160);
}
